In [33]:
import pandas as pd

In [45]:
df=pd.read_csv("MineHunter/java_project/RESULTS_zcash_FIX_60.csv")

In [46]:
df.shape

(80000, 4)

In [47]:
temp=df[df["rank"]<=100]

In [48]:
temp

         pos  rank                       flowName       sim
0      25855     1   54.145.30.137_192.168.224.88  0.815569
1      25855     2   192.168.224.88_213.199.38.97  0.811843
2      25855     3   192.168.224.88_54.145.30.137  0.810104
3      25855     4   192.168.224.88_13.231.190.41  0.797504
4      25855     5  192.168.224.88_95.217.108.172  0.795927
...      ...   ...                            ...       ...
70095  26205    96   192.168.54.121_192.168.2.228  0.515145
70096  26205    97    192.168.25.164_192.168.3.35  0.513460
70097  26205    98   192.168.140.144_192.168.3.94  0.513362
70098  26205    99    104.18.12.81_192.168.43.148  0.512380
70099  26205   100     192.168.3.90_192.168.51.77  0.511130

[800 rows x 4 columns]

In [49]:
temp.to_csv("res_zcash.csv")